"*":
  "atom-beautify":
    css:
      align_assignments: true
    general:
      _analyticsUserId: "8fd00a1d-9286-4d7a-88c7-f309b1a214da"
    js:
      beautify_on_save: true
      brace_style: "collapse-preserve-inline"
      end_with_comma: true
      indent_size: 2
      preserve_newlines: false
    jsx:
      beautify_on_save: true
      break_chained_methods: true
      disabled: true
      end_with_comma: true
      indent_size: 2
      preserve_newlines: false
      space_after_anon_function: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "angularjs"
      "meteor-api"
      "linter"
      "tree-view"
      "haskell-grammar"
      "language-thrift"
      "sort-lines"
      "atom-beautify"
    ]
    projectHome: "/Users/denbox/Google\\ Drive/workspace/"
  editor:
    invisibles: {}
    softWrap: true
  emmet: {}
  "exception-reporting":
    userId: "e008a362-3dbe-a897-cbde-7bc544bc12d5"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  jshint:
    onlyConfig: true
    supportLintingJsx: true
    validateOnlyOnSave: true
  jslint:
    useFoldModeAsDefault: true
    validateOnChange: true
  linter:
    showErrorPanel: false
  "linter-eslint":
    disableWhenNoEslintConfig: false
  nuclide:
    "nuclide-distraction-free-mode": {}
    "nuclide-format-js":
      reprint: true
    "nuclide-home":
      showHome: false
    "nuclide-working-sets": {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
